/* CSS Rulesets consist of three parts */
/* 1: Selector to select what element you're stlying */
/* 2: Declarations block where your CSS go */
/* 3: Declarations of CSS rules inside the declaration block */
table, th, td {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
table{
    /* Set the width of table elements to 100% of the width of the parent element */
    width: 100%;
    /* Set the background color of the table element to white */
    background-color: white;
}
h1 {
    /* Aligning the text for the h1 to center */
    text-align: center;
}
th {
    /* Upping the font size for the table header */
    font-size: 20pt;
    /* Underline the tabele headers*/
    text-decoration: underline;
}
td {
    /* Center the text for the table data element */
    text-align: center;
    /* Upping the font size for the table data elements */
    font-size: 16pt;
}